<p-toast position="center"></p-toast>
<div *ngIf="product">      
    <!-- Form cập nhật thông tin sản phẩm -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h3>Cập nhật sản phẩm</h3>
          <form (ngSubmit)="updateProduct()" #productForm="ngForm">
            <div class="form-group">
              <label for="name">Tên:</label>
              <input type="text" id="name" [(ngModel)]="updatedProduct.name" name="name" class="form-control" required #name="ngModel">
              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                <div *ngIf="name.errors?.['required']">Tên không được để trống.</div>
              </div>
            </div>
          
            <div class="form-group mb-3">
              <label for="price">Giá:</label>
              <input type="text" id="price" [(ngModel)]="updatedProduct.price" name="price" class="form-control col-md-3" required #price="ngModel">
              <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
                <div *ngIf="price.errors?.['required']">Giá không được để trống.</div>
              </div>
            </div>
          
            <div class="form-group mb-3">
              <label for="weight">Khối lượng/ dung tích:</label>
              <input type="text" id="weight" [(ngModel)]="updatedProduct.weight" name="weight" class="form-control col-md-3" required #weight="ngModel">
              <div *ngIf="weight.invalid && (weight.dirty || weight.touched)" class="alert alert-danger">
                <div *ngIf="weight.errors?.['required']">Khối lượng/ dung tích không được để trống.</div>
              </div>
            </div>
          
            <div class="form-group mb-3">
              <label for="description">Mô tả:</label>
              <textarea id="description" [(ngModel)]="updatedProduct.description" name="description" class="form-control" required #description="ngModel"></textarea>
              <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
                <div *ngIf="description.errors?.['required']">Mô tả không được để trống.</div>
              </div>
            </div>
          
            <div class="form-group mb-3">
              <label for="category">Danh mục:</label>
              <select id="category" [(ngModel)]="updatedProduct.category_id" name="category" class="form-control" required #category="ngModel">
                <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
              </select>
              <div *ngIf="category.invalid && (category.dirty || category.touched)" class="alert alert-danger">
                <div *ngIf="category.errors?.['required']">Danh mục không được để trống.</div>
              </div>
            </div>
          
            <div class="row mb-3">
              <div class="thumbnail-container">
                <div *ngFor="let productImage of product?.product_images; let i = index" 
                    class="thumbnail-item" 
                    [ngClass]="{'active': i === currentImageIndex}"
                    (click)="thumbnailClick(i)">
                  <img [src]="productImage.image_url" class="thumbnail-image" 
                    alt="Thumbnail Image">
                  <button type="button" class="btn btn-sm remove-image" 
                    (click)="deleteImage(productImage)">
                    <i class="fa fa-times-circle text-danger"></i>
                  </button>
                </div>
              </div>
            </div>
          
            <div class="form-group mb-3">
              <label for="images">Thêm ảnh (tối đa 5):</label>
              <input type="file" id="images" name="images" multiple (change)="onFileChange($event)" accept="image/*">
            </div>            
          
            <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid">Cập nhật</button>
          </form>
          
        </div>
      </div>
    </div>
  </div>